<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 费用明细表 -->
<mapper namespace="com.buit.his.sams.dao.ImFeeFymxDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JLXH as jlxh,JGID as jgid,ZYH as zyh,FYRQ as fyrq,FYXH as fyxh,FYMC as fymc,YPCD as ypcd,FYSL as fysl,FYDJ as
        fydj,ZJJE as zjje,ZFJE as zfje,YSGH as ysgh,SRGH as srgh,QRGH as qrgh,FYBQ as fybq,FYKS as fyks,ZXKS as
        zxks,JFRQ as jfrq,XMLX as xmlx,YPLX as yplx,FYXM as fyxm,JSCS as jscs,ZFBL as zfbl,YZXH as yzxh,HZRQ as
        hzrq,YJRQ as yjrq,ZLJE as zlje,ZLXZ as zlxz,YEPB as yepb,DZBL as dzbl,SCBZ as scbz,XFLSH as xflsh,ZKBL as
        zkbl,ZKJE as zkje,ZHJE as zhje,GJYBZ as gjybz,ZFGH as zfgh,ZFGLXH as zfglxh,DBJFBZ as dbjfbz,CLDYM as cldym,
        ZFPB AS ZFPB, ZFRQ AS ZFRQ
    </sql>

    <insert id="insert">
        INSERT INTO IM_FEE_FYMX (JLXH,
                                 JGID,
                                 ZYH,
                                 FYRQ,
                                 FYXH,
                                 FYMC,
                                 YPCD,
                                 FYSL,
                                 FYDJ,
                                 ZJJE,
                                 ZFJE,
                                 YSGH,
                                 SRGH,
                                 QRGH,
                                 FYBQ,
                                 FYKS,
                                 ZXKS,
                                 JFRQ,
                                 XMLX,
                                 YPLX,
                                 FYXM,
                                 JSCS,
                                 ZFBL,
                                 YZXH,
                                 HZRQ,
                                 YJRQ,
                                 ZLJE,
                                 ZLXZ,
                                 YEPB,
                                 DZBL,
                                 SCBZ,
                                 XFLSH,
                                 ZKBL,
                                 ZKJE,
                                 ZHJE,
                                 GJYBZ,
                                 ZFGH,
                                 ZFGLXH,
                                 DBJFBZ,
                                 CLDYM,
                                 ZFPB,
                                 ZFRQ)
        VALUES (#{jlxh},
                #{jgid},
                #{zyh},
                #{fyrq},
                #{fyxh},
                #{fymc},
                #{ypcd},
                #{fysl},
                #{fydj},
                #{zjje},
                #{zfje},
                #{ysgh},
                #{srgh},
                #{qrgh},
                #{fybq},
                #{fyks},
                #{zxks},
                #{jfrq},
                #{xmlx},
                #{yplx},
                #{fyxm},
                #{jscs},
                #{zfbl},
                #{yzxh},
                #{hzrq},
                #{yjrq},
                #{zlje},
                #{zlxz},
                #{yepb},
                #{dzbl},
                #{scbz},
                #{xflsh},
                #{zkbl},
                #{zkje},
                #{zhje},
                #{gjybz},
                #{zfgh},
                #{zfglxh},
                #{dbjfbz},
                #{cldym},
                #{zfpb},
                #{zfrq})
    </insert>

    <update id="update">
        UPDATE IM_FEE_FYMX
        <set>

            <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                JGID = #{jgid} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zyh)">
                ZYH = #{zyh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fyrq)">
                FYRQ = #{fyrq} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
                FYXH = #{fyxh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fymc)">
                FYMC = #{fymc} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(ypcd)">
                YPCD = #{ypcd} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fysl)">
                FYSL = #{fysl} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fydj)">
                FYDJ = #{fydj} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zjje)">
                ZJJE = #{zjje} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfje)">
                ZFJE = #{zfje} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(ysgh)">
                YSGH = #{ysgh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(srgh)">
                SRGH = #{srgh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(qrgh)">
                QRGH = #{qrgh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fybq)">
                FYBQ = #{fybq} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fyks)">
                FYKS = #{fyks} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zxks)">
                ZXKS = #{zxks} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(jfrq)">
                JFRQ = #{jfrq} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(xmlx)">
                XMLX = #{xmlx} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(yplx)">
                YPLX = #{yplx} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(fyxm)">
                FYXM = #{fyxm} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(jscs)">
                JSCS = #{jscs} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfbl)">
                ZFBL = #{zfbl} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(yzxh)">
                YZXH = #{yzxh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(hzrq)">
                HZRQ = #{hzrq} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(yjrq)">
                YJRQ = #{yjrq} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zlje)">
                ZLJE = #{zlje} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zlxz)">
                ZLXZ = #{zlxz} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(yepb)">
                YEPB = #{yepb} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(dzbl)">
                DZBL = #{dzbl} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(scbz)">
                SCBZ = #{scbz} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(xflsh)">
                XFLSH = #{xflsh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zkbl)">
                ZKBL = #{zkbl} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zkje)">
                ZKJE = #{zkje} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zhje)">
                ZHJE = #{zhje} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(gjybz)">
                GJYBZ = #{gjybz} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfgh)">
                ZFGH = #{zfgh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfglxh)">
                ZFGLXH = #{zfglxh} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(dbjfbz)">
                DBJFBZ = #{dbjfbz} ,
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(cldym)">
                CLDYM = #{cldym},
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfpb)">
                ZFPB = #{zfpb},
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(zfrq)">
                ZFRQ = #{zfrq}
            </if>
        </set>
        WHERE
        JLXH = #{jlxh}
    </update>


    <delete id="deleteById">
        DELETE
        FROM IM_FEE_FYMX
        WHERE JLXH = #{jlxh}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM IM_FEE_FYMX
        <include refid="where"/>
    </delete>

    <select id="getById" resultType="ImFeeFymx">
        SELECT
        <include refid="columns"/>
        FROM IM_FEE_FYMX
        WHERE
        JLXH = #{jlxh}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(jlxh)">
                AND JLXH = #{jlxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                AND JGID = #{jgid}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zyh)">
                AND ZYH = #{zyh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fyrq)">
                AND FYRQ = #{fyrq}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
                AND FYXH = #{fyxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fymc)">
                AND FYMC = #{fymc}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ypcd)">
                AND YPCD = #{ypcd}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fysl)">
                AND FYSL = #{fysl}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fydj)">
                AND FYDJ = #{fydj}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zjje)">
                AND ZJJE = #{zjje}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfje)">
                AND ZFJE = #{zfje}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ysgh)">
                AND YSGH = #{ysgh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(srgh)">
                AND SRGH = #{srgh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(qrgh)">
                AND QRGH = #{qrgh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fybq)">
                AND FYBQ = #{fybq}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fyks)">
                AND FYKS = #{fyks}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zxks)">
                AND ZXKS = #{zxks}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jfrq)">
                AND JFRQ = #{jfrq}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(xmlx)">
                AND XMLX = #{xmlx}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(yplx)">
                AND YPLX = #{yplx}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fyxm)">
                AND FYXM = #{fyxm}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jscs)">
                AND JSCS = #{jscs}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfbl)">
                AND ZFBL = #{zfbl}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(yzxh)">
                AND YZXH = #{yzxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(hzrq)">
                AND HZRQ = #{hzrq}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(yjrq)">
                AND YJRQ = #{yjrq}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zlje)">
                AND ZLJE = #{zlje}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zlxz)">
                AND ZLXZ = #{zlxz}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(yepb)">
                AND YEPB = #{yepb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(dzbl)">
                AND DZBL = #{dzbl}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(scbz)">
                AND SCBZ = #{scbz}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(xflsh)">
                AND XFLSH = #{xflsh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zkbl)">
                AND ZKBL = #{zkbl}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zkje)">
                AND ZKJE = #{zkje}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zhje)">
                AND ZHJE = #{zhje}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(gjybz)">
                AND GJYBZ = #{gjybz}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfgh)">
                AND ZFGH = #{zfgh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfglxh)">
                AND ZFGLXH = #{zfglxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(dbjfbz)">
                AND DBJFBZ = #{dbjfbz}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(cldym)">
                AND CLDYM = #{cldym}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfpb)">
                AND ZFPB = #{zfpb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfrq)">
                AND ZFRQ = #{zfrq}
            </if>
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM IM_FEE_FYMX
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="ImFeeFymx">
        SELECT
        <include refid="columns"/>
        FROM IM_FEE_FYMX
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <insert id="batchInsert">
        INSERT INTO IM_FEE_FYMX (
        JLXH ,
        JGID ,
        ZYH ,
        FYRQ ,
        FYXH ,
        FYMC ,
        YPCD ,
        FYSL ,
        FYDJ ,
        ZJJE ,
        ZFJE ,
        YSGH ,
        SRGH ,
        QRGH ,
        FYBQ ,
        FYKS ,
        ZXKS ,
        JFRQ ,
        XMLX ,
        YPLX ,
        FYXM ,
        JSCS ,
        ZFBL ,
        YZXH ,
        HZRQ ,
        YJRQ ,
        ZLJE ,
        ZLXZ ,
        YEPB ,
        DZBL ,
        SCBZ ,
        XFLSH ,
        ZKBL ,
        ZKJE ,
        ZHJE ,
        GJYBZ ,
        ZFGH ,
        ZFGLXH ,
        DBJFBZ ,
        CLDYM ,
        ZFPB ,
        ZFRQ
        ) VALUES
        <foreach collection="list" item="z" separator=",">
            (
            #{z.jlxh} ,
            #{z.jgid} ,
            #{z.zyh} ,
            #{z.fyrq} ,
            #{z.fyxh} ,
            #{z.fymc} ,
            #{z.ypcd} ,
            #{z.fysl} ,
            #{z.fydj} ,
            #{z.zjje} ,
            #{z.zfje} ,
            #{z.ysgh} ,
            #{z.srgh} ,
            #{z.qrgh} ,
            #{z.fybq} ,
            #{z.fyks} ,
            #{z.zxks} ,
            #{z.jfrq} ,
            #{z.xmlx} ,
            #{z.yplx} ,
            #{z.fyxm} ,
            #{z.jscs} ,
            #{z.zfbl} ,
            #{z.yzxh} ,
            #{z.hzrq} ,
            #{z.yjrq} ,
            #{z.zlje} ,
            #{z.zlxz} ,
            #{z.yepb} ,
            #{z.dzbl} ,
            #{z.scbz} ,
            #{z.xflsh} ,
            #{z.zkbl} ,
            #{z.zkje} ,
            #{z.zhje} ,
            #{z.gjybz} ,
            #{z.zfgh} ,
            #{z.zfglxh} ,
            #{z.dbjfbz} ,
            #{z.cldym} ,
            #{z.zfpb} ,
            #{z.zfrq}
            )
        </foreach>

    </insert>

    <select id="createZlRwfpFymx" resultType="com.buit.his.treatment.response.RwfpFymxResp">
        SELECT
        rwfp.ZLRWFPID as zlrwfpid,
        rwfp.JGID as jgid,
        rwfp.zyh zyh,
        rwfp.SFXMDM as fyxh,
        rwfp.SFXMMC as fymc,
        rwfp.SL as fysl,
        hzyz.YPDJ as fydj,
        rwfp.je as zjje,
        hzyz.YSGH as ysgh,
        hzyz.BRBQ as fybq,
        hzyz.SRKS as fyks ,
        rwfp.ZLKSDM as zxks,
        sfxm.FYGB as fyxm,
        hzyz.jlxh AS yzxh,
        ( SELECT fyxz.zfbl FROM pub_fyxz fyxz WHERE fyxz.BRXZ = hz.BRXZ AND fyxz.FYXH = rwfp.SFXMDM ) AS zfbl1,
        ( SELECT fybl.zfbl FROM fee_sfdlzfbl fybl WHERE fybl.BRXZ = hz.BRXZ AND fybl.SFXM = sfxm.FYGB ) AS zfbl2
        FROM
        zl_rwfp rwfp,
        im_hzry hz,
        cis_hzyz hzyz,
        fee_ylsfxm sfxm
        WHERE
        rwfp.YZ_JLXH = hzyz.JLXH
        AND rwfp.zyh = hz.zyh
        AND rwfp.SFXMDM = sfxm.FYXH
        AND rwfp.ZLRWFPID = #{zlrwfpId}
    </select>
</mapper>

